<div class="operationTypes">
  <div class="operation-types-header">
    <button (click)="goToAdmin()" class="btn btn-outline-primary back-btn">Back to Admin Home</button>
    <button (click)="toggleForm()" class="btn btn-primary create-btn">
      {{ showCreateForm ? 'Cancel' : 'Create Operation Type' }}
    </button>
  </div>
  <div *ngIf="operationTypes.length > 0; else noOperationTypes">
    <h1>Operation Types</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>
            Name
            <input type="text" [(ngModel)]="filter.name" placeholder="Filter by Name" />
          </th>
          <th>
            Specialization
            <select [(ngModel)]="filter.specialization" name="specialization" id="specialization">
              <option *ngFor="let spec of specializations" [value]="spec">
                {{ spec }}
              </option>
            </select>
          </th> 
          <th>
            Status
            <select [(ngModel)]="filter.status" name="status" id="status">
              <option *ngFor="let status of statuses" [value]="status">
                {{ status }}
              </option>
            </select>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operation of operationTypes">
          <td>{{ operation.Id }}</td>
          <td>{{ operation.Name }}</td>
          <td>{{ operation.Specialization }}</td>
          <td>{{ operation.Status }}</td>
          <td>
            <button *ngIf="operation.Status === 'Active'" (click)="inactivate(operation.Id)">
              Inactivate
            </button>
            <button *ngIf="operation.Status === 'Inactive'" (click)="activate(operation)">
              Activate
            </button>
            <button (click)="startEditOperationType(operation, false)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="filter-buttons">
      <button (click)="applyFilter()">Apply Filters</button>
      <button (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>

  <ng-template #noOperationTypes>
    <div *ngIf="message; else loading">
      <p>{{ message }}</p>
    </div>
  </ng-template>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

  <div class="pagination">
    <button (click)="changePage(filter.pageNumber - 1)" [disabled]="filter.pageNumber <= 1">Previous</button>
    <span>Page {{ filter.pageNumber }} of {{ totalPages }}</span>
    <button (click)="changePage(filter.pageNumber + 1)" [disabled]="filter.pageNumber >= totalPages">Next</button>
  </div>

  <div class="operationTypes-form" *ngIf="showCreateForm">
    <h1>{{ isEditMode ? 'Edit' : 'Create' }} Operation Type</h1>

    <form (ngSubmit)="submitOperationType()" *ngIf="roles.length > 0 && specializations.length > 0; else loading">
      <label for="operationName">Operation Name:</label>
      <input type="text" id="operationName" name="operationName" [(ngModel)]="operationType.Name" placeholder="Enter Operation Name" />

      <label for="specialization">Specialization:</label>
      <select id="specialization" name="specialization" [(ngModel)]="operationType.Specialization">
        <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
      </select>

      <h3>Add Required Staff</h3>
      <label for="newStaffRole">Role:</label>
      <select [(ngModel)]="newStaff.Role" name="newStaffRole" id="newStaffRole">
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>

      <label for="newStaffSpecialization">Specialization:</label>
      <select [(ngModel)]="newStaff.Specialization" name="newStaffSpecialization" id="newStaffSpecialization">
        <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
      </select>

      <label for="newStaffQuantity">Quantity:</label>
      <input type="number" [(ngModel)]="newStaff.Quantity" name="newStaffQuantity" id="newStaffQuantity" min="1" />

      <button type="button" (click)="addStaff()">Add Staff</button>

      <div *ngFor="let staff of operationType.RequiredStaff; let i = index" class="required-staff">
        <h3>Required Staff {{ i + 1 }}</h3>
        <p>Role: {{ staff.Role }}</p>
        <p>Specialization: {{ staff.Specialization }}</p>
        <p>Quantity: {{ staff.Quantity }}</p>
      </div>

      <div class="duration-field">
        <label for="preparationDuration">Preparation Duration (minutes):</label>
        <input type="number" [(ngModel)]="operationType.PhasesDuration.Preparation" name="preparationDuration" id="preparationDuration" min="1" />
      </div>

      <div class="duration-field">
        <label for="surgeryDuration">Surgery Duration (minutes):</label>
        <input type="number" [(ngModel)]="operationType.PhasesDuration.Surgery" name="surgeryDuration" id="surgeryDuration" min="1" />
      </div>

      <div class="duration-field">
        <label for="cleaningDuration">Cleaning Duration (minutes):</label>
        <input type="number" [(ngModel)]="operationType.PhasesDuration.Cleaning" name="cleaningDuration" id="cleaningDuration" min="1" />
      </div>

      <button type="submit">{{ isEditMode ? 'Update' : 'Submit' }} Operation Type</button>
    </form>

    <div *ngIf="message" [ngClass]="{'success': success, 'error': !success}">
      {{ message }}
      <button *ngIf="!success" (click)="reloadPage()">Reload Page</button>
    </div>

    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
</div>