<div class="surgery-form">
  <h2>Generate Appointments</h2>

  <section>
    <form>
      <div class="form-group">
        <label for="surgeryRoom">Select Room:</label>
        <select id="surgeryRoom" name="surgeryRoom" [(ngModel)]="surgeryRoom">
          <option *ngFor="let roomNumber of surgeryRooms" [value]="roomNumber">
            {{ roomNumber }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="surgeryDate">Select Date:</label>
        <input type="date" id="surgeryDate" name="surgeryDate" [(ngModel)]="surgeryDate">
      </div>

      <div class="button-group">
        <button type="submit" class="submit-button" (click)="runProlog(0)">Normal Scheduling</button>
        <button type="submit" class="submit-button" (click)="runProlog(1)">Heuristic Scheduling</button>
        <button type="button" class="clear-button" (click)="clearForm()">Clear</button>
      </div>
    </form>
  </section>
</div>
