<div class="admin-menu">
    <h1>Hello, Admin!</h1>
    <div class="button-container">
      <button (click)="navigateTo('operationTypes')" class="btn btn-primary">Manage Operation Types</button>
      <button (click)="navigateTo('staffs')" class="btn btn-secondary">Manage Staffs</button>
      <button (click)="navigateTo('patients')" class="btn btn-success">Manage Patients</button>
      <button (click)="navigateTo('users')" class="btn btn-warning">Create Backoffice Users</button>
      <button (click)="navigateTo('prolog')" class="btn btn-warning">Generate Appointments</button>
    </div>
  </div>
