<div class="patient-component">
  <h1>Patient</h1>

  <div>
    <h2>Patient Details</h2>
    <button class="delete-button delete-account" (click)="delete(patient.Id)">Delete Account</button>
    <div class="patient-details">
      <div><strong>First Name:</strong> {{ patient.FullName.FirstName }}</div>
      <div><strong>Last Name:</strong> {{ patient.FullName.LastName }}</div>
      <div><strong>Date of Birth:</strong> {{ patient.DateOfBirth | date: 'yyyy-MM-dd' }}</div>
      <div>
        <strong>Email:</strong>
        {{ patient.ContactInformation.Email }}
        <button (click)="openEditModal('email')">Edit</button>
      </div>
      <div>
        <strong>Phone Number:</strong>
        {{ patient.ContactInformation.PhoneNumber }}
        <button (click)="openEditModal('phoneNumber')">Edit</button>
      </div>
      <div><strong>Gender:</strong> {{ patient.Gender.toLowerCase()}}</div>
      <div><strong>Emergency Contact:</strong> {{ patient.EmergencyContact || 'N/A' }}</div>
      <div><strong>Appointment History:</strong></div>
      <div *ngIf="patient.AppointmentHistory.length > 0">
        <div *ngFor="let slot of patient.AppointmentHistory">
          <span><strong>Start:</strong> {{ slot.Start | date: 'yyyy-MM-dd HH:mm' }}</span>
          <span class="End-Slot"><strong>End:</strong> {{ slot.End | date: 'yyyy-MM-dd HH:mm' }}</span>
        </div>
      </div>
      <div *ngIf="patient.AppointmentHistory.length === 0">No appointments available</div>
    </div>
  </div>

  <div class="modal" [class.show]="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeEditModal()">&times;</span>
      <div *ngIf="editingField === 'email'">
        <label for="email">Edit Email:</label>
        <input [(ngModel)]="tempEmail" id="email" type="email" />
        <button (click)="updateField('email')">Save</button>
      </div>
      <div *ngIf="editingField === 'phoneNumber'">
        <label for="phoneNumber">Edit Phone Number:</label>
        <input [(ngModel)]="tempPhoneNumber" id="phoneNumber" type="text" />
        <button (click)="updateField('phoneNumber')">Save</button>
      </div>
    </div>
  </div>

</div>
