/* General table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #85a585;
  color: white;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}

/* Hover effect for rows */
tr:hover {
  background-color: #934a4a;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

}

.modal.show {
  visibility: visible;
  opacity: 1; /* Shows the modal */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: black;
}

.patient-request {

  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.patient-request h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.patient-request section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.patient-request form {
  display: flex;
  flex-direction: column;
}

.patient-request input[type="text"],
.patient-request input[type="date"],
.patient-request select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-bottom: 8px;
}

.patient-request input[type="text"]:focus,
.patient-request input[type="date"]:focus,
.patient-request select:focus {
  border-color: #007acc;
  outline: none;
}

.patient-request label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.patient-request button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.patient-request button[type="button"] {
  background-color: #85a585;
  color: #fff;
}

.patient-request button[type="button"]:hover {
  background-color: #577357;
}

.patient-request button[type="button"]:last-of-type {
  background-color: #af5454;
}

.patient-request button[type="button"]:last-of-type:hover {
  background-color: #974747;
}

@media screen and (max-width: 768px) {
  table, th, td {
    font-size: 14px;
  }

  th, td {
    padding: 10px;
  }

  .modal-content {
    width: 90%;
  }
}

th input, th select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

th, td {
  text-align: left; /* Align content to the left for better readability */
}

.button-filter {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px; /* Add margin to the top to align with the input fields */
}

.button-filter {
  margin-left: 10px; /* Space between the two buttons */
}

.button-filter:hover {
  background-color: #45a049;
}

.edit-button {
  height: 60px;
  width: 60px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245,200,245);
}

.span-slot-start {
  margin-left: 10px;
  margin-right: 14px;
}
.span-slot-end {
  margin-left: 14px;
}

.button-back-admin {
  position: absolute;
  right: 50px;
  top: 160px;
  background-color: rgba(128, 128, 128, 0.63);
  color: white;
}

.button-back-admin:hover {
  background-color: #7e7e7e;
}

