html,
body {
    height: 100%;
    margin: 0;
}

.staffs-request {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #0073e6;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
    border-color: #0073e6;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.clear-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #005bb5;
}

.submit-button:hover {
    background-color: #005bb5;
}

.radio-staff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}


.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

}

.modal.show {
    visibility: visible;
    opacity: 1;
    /* Shows the modal */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #85a585;
    color: white;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #934a4a;
}

@media screen and (max-width: 768px) {

    table,
    th,
    td {
        font-size: 14px;
    }

    th,
    td {
        padding: 10px;
    }

    .modal-content {
        width: 90%;
    }
}

.action-btn {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

/* Edit button styling */
.edit-btn {
    background-color: #4CAF50;
    color: white;
}

.edit-btn:hover {
    background-color: #45a049;
}

/* Delete button styling */
.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

/*PAGINAÇÃO*/

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    background-color: #0073e6;
    color: white;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #005bb5;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert strong {
    font-weight: bold;
}

.alert-top-right {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 1050;
    /* Garante que o alert fique acima de outros elementos */
    max-width: 300px;
    /* Define um tamanho máximo, opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adiciona uma leve sombra */
    animation: fadeIn 0.5s ease-out;
}

/* Animação opcional para o alert aparecer suavemente */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}