<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<div class="staffs-request">
    <h1>Staffs</h1>
    <button (click)="goToAdmin()" class="btn btn-outline-primary back-btn">Back to Admin Home</button>
    <button type="button" class="create-staff-btn" (click)="openModal()">Create Staff</button>



    <div *ngIf="isCreateModalOpen" class="modal">
        <div class="modal-content">
            <span type="button" class="close" (click)="closeModal()">&times;</span>
            <h2>Create New Staff</h2>

            <section>
                <form>
                    <div class="form-group">
                        <input type="text" id="firstName" name="firstName" [(ngModel)]="staff.FullName.FirstName"
                            (focus)="firstNameTouched = true" placeholder="Enter First Name" />
                    </div>

                    <div class="form-group">
                        <input type="text" id="lastName" name="lastName" [(ngModel)]="staff.FullName.LastName"
                            (focus)="lastNameTouched = true" placeholder="Enter Last Name" />
                    </div>

                    <div class="form-group">
                        <input type="text" id="email" name="email" [(ngModel)]="staff.ContactInformation.Email"
                            (focus)="emailTouched = true" placeholder="Enter Email" />
                    </div>

                    <div class="form-group">
                        <input type="text" id="phoneNumber" name="phoneNumber"
                            [(ngModel)]="staff.ContactInformation.PhoneNumber" (focus)="phoneNumberTouched = true"
                            placeholder="Enter Phone Number" />
                    </div>

                    <div class="form-group">
                        <label for="specialization">Select Specialization:</label>
                        <select id="specialization" name="specialization" [(ngModel)]="staff.specialization">
                            <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
                        </select>
                    </div>

                    <div *ngFor="let role of roles">
                        <input type="radio" id="{{role}}" name="role" [value]="role" [(ngModel)]="staff.staffRole">
                        <label for="{{role}}">{{ role }}</label>
                    </div>

                    <div class="button-group">
                        <button type="submit" class="submit-button" (click)="submitRequest()">Submit</button>
                        <button type="button" class="clear-button" (click)="clearForm()">Clear</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <div *ngIf="success && message" class="alert alert-success alert-top-right">
        <strong>Success!</strong> {{ message }}
    </div>




    <div *ngIf="staffs.length > 0; else noStaffs">
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        Name
                        <input type="text" [(ngModel)]="filter.name" name="name" placeholder="Filter by Name" />
                    <th>
                        Email
                        <input type="text" [(ngModel)]="filter.email" name="email" placeholder="Filter by Email" />
                    </th>
                    <th colspan="2">
                        Specialization
                        <select [(ngModel)]="filter.specialization" name="specialization" id="specialization">
                            <option *ngFor="let spec of specializations" [value]="spec">
                                {{ spec }}
                            </option>
                        </select>
                    </th>
                    <th>
                        <div class="filter-buttons">
                            <button (click)="applyFilter()">Apply Filters</button>
                            <button (click)="clearFilters()">Clear Filters</button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>License Number</th>
                    <th>Specialization</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Slots Appointment</th>
                    <th>Slots Availability</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of staffs">
                    <td>{{ staff.FullName.FirstName }}</td>
                    <td>{{ staff.FullName.LastName }}</td>
                    <td>{{ staff.ContactInformation.Email }}</td>
                    <td>{{ staff.ContactInformation.PhoneNumber }}</td>
                    <td>{{ staff.licenseNumber || 'N/A' }}</td>
                    <td>{{ staff.specialization || 'N/A' }}</td>
                    <td>{{ staff.staffRole || 'N/A' }}</td>
                    <td>{{ staff.status || 'N/A' }}</td>
                    <td>
                        <button type="button" (click)="openSlotAppointmentModal(staff)">View</button>
                    </td>
                    <td>
                        <button type="button" (click)="openSlotAvailabilityModal(staff)">View</button>
                    </td>
                    <td>
                        <button *ngIf="staff.status === 'Active'" (click)="editStaff(staff)"
                            class="action-btn edit-btn">
                            Edit
                        </button>
                        <button *ngIf="staff.status === 'Active'" (click)="inactivate(staff.Id)">
                            Inactivate
                        </button>
                        <button *ngIf="staff.status === 'Inactive'" (click)="activate(staff)">
                            Activate
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <ng-template #noStaffs>
        <div *ngIf="message; else loading">
            <p>{{ message }}</p>
        </div>
    </ng-template>

    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>




    <div class="pagination">
        <button (click)="changePage(filter.pageNumber - 1)" [disabled]="filter.pageNumber <= 1">Previous</button>
        <span>Page {{ filter.pageNumber }} of {{ totalPages }}</span>
        <button (click)="changePage(filter.pageNumber + 1)" [disabled]="filter.pageNumber >= totalPages">Next</button>
    </div>




    <div *ngIf="isDeleteModalOpen" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closeDeleteModal()">&times;</span>
            <h2>Confirm Delete</h2>
            <p>Are you sure you want to delete this staff member?</p>
            <div class="button-group">
                <button type="button" class="confirm-button" (click)="deleteConfirmed()">Confirm</button>
                <button type="button" class="cancel-button" (click)="closeDeleteModal()">Cancel</button>

            </div>
        </div>
    </div>

    <div *ngIf="isEditModalOpen" class="modal">
        <div class="modal-content">
            <span type="button" class="close" (click)="closeModal()">&times;</span>
            <h2>Edit Staff</h2>

            <form (ngSubmit)="saveStaff()">
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="emailEdit" [(ngModel)]="staff.ContactInformation.Email" name="email" />
                </div>
                <div>
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" id="phoneNumberEdit" [(ngModel)]="staff.ContactInformation.PhoneNumber"
                        name="phoneNumber" />
                </div>
                <div>
                    <label for="specialization">Specialization</label>
                    <select id="specialization" name="specialization" [(ngModel)]="staff.specialization">
                        <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
                    </select>
                </div>

                <h3>Slots Availability</h3>

                <div *ngIf="!staff.SlotAvailability || staff.SlotAvailability.length === 0" class="no-slots">
                    <p>No slots available.</p>
                </div>

                <div>
                    <div *ngIf="staff.SlotAvailability && staff.SlotAvailability.length > 0">
                        <table class="slots-table">
                            <thead>
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let slot of staff.SlotAvailability; let i = index">
                                    <td>
                                        <input type="datetime-local" [(ngModel)]="slot.Start" name="slotStart{{i}}" />
                                    </td>
                                    <td>
                                        <input type="datetime-local" [(ngModel)]="slot.End" name="slotEnd{{i}}" />
                                    </td>
                                    <!-- <td>
                                        <button type="button" (click)="removeSlot(i)">Remove</button> </td>
                                        -->

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="button-group">
                    <button type="submit" (click)="submitRequest()">{{ isEditMode ? 'Update' : 'Submit' }}
                        Save</button>
                </div>
            </form>
        </div>
    </div>


    <div *ngIf="isSlotAppointmentModal" class="modal">
        <div class="modal-content">
            <span type="button" class="close" (click)="closeSlotAppointmentModal()">&times;</span>
            <h2>Slots Appointments</h2>
            <table>
                <thead>
                    <tr>
                        <th>Slot History</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div *ngIf="selectedStaff.slotAppointment?.length > 0; else noSlotsMessage">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Start</th>
                                            <th>End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let slot of selectedStaff.slotAppointment">
                                            <td>{{ slot.start | date: 'yyyy-MM-dd HH:mm' }}</td>
                                            <td>{{ slot.end | date: 'yyyy-MM-dd HH:mm' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #noSlotsMessage>
                                <p>No slots available</p>
                            </ng-template>
                        </td>
                    </tr>
            </table>
        </div>
    </div>


    <div *ngIf="isSlotAvailabilityModal" class="modal">
        <div class="modal-content">
            <span type="button" class="close" (click)="closeSlotAvailabilityModal()">&times;</span>
            <h2>Slot Availability for {{ selectedStaff?.FullName?.FirstName }} {{ selectedStaff?.FullName?.LastName }}
            </h2>

            <table>
                <thead>
                    <tr>
                        <th>Slot History</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div *ngIf="selectedStaff.SlotAvailability?.length > 0; else noSlotsMessage">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Start</th>
                                            <th>End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let slot of selectedStaff.SlotAvailability; let i = index">
                                            <td>{{ slot.Start | date: 'yyyy-MM-dd HH:mm' }}</td>
                                            <td>{{ slot.End | date: 'yyyy-MM-dd HH:mm' }}</td>
                                            <!-- <td><button type="button" class="action-btn delete-btn"
                                                    (click)="deleteSlotAvailability(selectedStaff, i)">Remove</button>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #noSlotsMessage>
                                <p>No slots available</p>
                            </ng-template>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>
